main {
    display: flex;
    justify-content: center;

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        div {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;

            a {
                color: var(--color-secondary);
                text-decoration: none;
                background-color: var(--color-primary);
                font-weight: 600;
                padding: 12px 24px;
                border-radius: 4px;
            }

            a:hover {
                color: var(--color-secondary);
                background-color: var(--color-primary-hover);
            }
        }
    }
}